body{
    border: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
#screen{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* height:; */
}
.each-products{
    width: 300px;
    height: 100%;
    /* border: 1px solid black; */
    background-color: #dcdddb;
    margin: auto;
}
.each-products img{
    /* margin: auto; */
    width: 200px;
    height: 200px;
    border-radius: 10px;
}